body {
    background-color: #FF3333;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Add this line to ensure full height */
    display: ;
    justify-content: center;
    align-items: center;
}
